.backgraund-color-green{
    width: 1200px;
    height: 1228px;
    background-color: #84A178;

}

// main-work


.gallery {
    background-size: cover;
width: 1200px;
height: 1015px;
    background-image: url(../images/backgraund/desktop/ice-cream-desktop.png);
}